@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #EBE7DC;
  --ink: #26180f;
}

html, body {
  background: var(--bg);
  color: var(--ink);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .container-prose {
    @apply mx-auto w-full max-w-prose px-4;
  }
}
